.email-card {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  button {
    width: 100%;
    margin-top: 15px;
  }
  .success-message {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  